__pycache__/
data/models/*
data/input/*
src/devil_scripts/FIRSTRUN.flag
src/devil_scripts/models.flag
data/output/*
src/hipBLA*
/src/hipBLASLt-rocm-6.0.2/
src/.shell.nix.kate-swp
data/user/default
src/.impl.nix.kate-swp
.cache
src/devil_scripts/FIRSTRUN.flag
data/custom_nodes/ComfyUI*
data/models/*
data/tmp/*
src/models/*
*.py[cod]
/output/
/input/
!/input/example.png
!custom_nodes/example_node.py.example
extra_model_paths.yaml
/models/
/custom_nodes/
/.vs
.vscode/
.idea/
venv/
.venv/
/web/extensions/*
!/web/extensions/logging.js.example
!/web/extensions/core/
/tests-ui/data/object_info.json
/user/
*.log
web_custom_versions/
.DS_Store
models/checkpoints/Devil_Pony_v1.3.safetensors
models/clip_vision/CLIP-ViT-H-14-laion2B-s32B-b79K.safetensors
models/clip_vision/CLIP-ViT-bigG-14-laion2B-39B-b160k.safetensors
models/ipadapter/
models/vae/Devil_VAE.safetensors
tmp/
devil_scripts/FIRSTRUN.flag
ddtemp/
src/.passthrough.sh.kate-swp
src/rocm-6.0.2.tar.gz.1
